{% extends "base.html" %} {% block title %}Chats{% endblock %} 

{% block content %}
    
    <h1 align="center"> Chat Page</h1>

    <body>
        <div class="row">
            <div class="col-sm-2">
                <div id="inbox">
                    <ul>
                        <li><a href="/chathome">In</a></li>
			<li><a href="/chats">New</a></li>
                        <li><a href="#">Delete</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <ul>
                    {% for email in emails %}
                        <li>
                            <a href="/emails/{{ loop.index }}">{{ email.subject }}</a>
                            <p>From: {{ email.from }}</p>
                            <p>{{email.body}}</p>
                        </li>
            {% endfor %}
            </ul>
        </div>
    </div>
            
       
    </body>
    
{% endblock %}
