{% extends "base.html" %} 

{% block title %}Sloth Mail{% endblock %} 

{% block content %}
    <h1 align="center">Sloth Mail Inbox</h1>
    <br />
    <br />
    <img src="{{ url_for('static', filename='sloth.png') }}" 
        alt="Description of the image" width="300" height="200" class="shift-left"/>
    <body class="{% if 'mode' in session and session['mode'] == 'dark' %}dark-mode{% endif %}">
        <div class="row">
            <div class="col-sm-2">
                <div id="inbox">
                    <ul>
                        <br />
                        <br />
                        <br /> 
                        <form action = "/compose" method="POST">
                            <button type="submit" class="btn btn-primary btn-block" href="/compose">Compose</button>
                        </form>
                        <br />
                        <form action = "/refresh" method="POST">
                            <button type="submit" class="btn btn-primary btn-block">Refresh</button>
                        </form>
                        <br />             
                        <form method="POST" action="{{url_for('auth.inbox')}}">
                            <button class ="btn btn-primary btn-block" onclick="toggleMode()">Light/Dark Mode</button>
                        </form>
                        <br />
                        <form action="/sent_emails" method="POST">
                            <button type="submit" class="btn btn-primary btn-block" href="/sent_emails">View Sent Emails</button>
                        </form>
                        <br />
                        <form id="delete-selected-form" method="POST">
                            <input type="hidden" id="delete-selected-emails" name="delete_selected_emails" value=""/>
                            <button type="button" class="btn btn-danger btn-block" onclick="deleteSelectedEmails()">Delete Selected Emails</button>
                        </form>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <br />
                <br />
                <br />
                <div class="received-emails">
                    <h2>Received Emails</h2>
                    {% for email in received_emails %}
                        <div class="email">
                            <input type="checkbox" name="selected_emails" value="{{ email.id }}" class="email-checkbox"/>
                            <h3>{{ email.subject }}</h3>
                            <p>{{ email.body }}</p>
                            <p>Sent by {{ email.user_sent_email.name }}
                            on {{ email.timestamp }}
                            </p>
                        </div>
                    {% endfor %}
                    {% if received_emails|length == 0 %}
                        <p>No emails received yet.</p>
                    {% endif %}
                </div>
        </div>
    </div>
       
    </body>
    
{% endblock %}
