{% extends "base.html" %} {% block title %}Sloth Mail{% endblock %} 

{% block content %}
    
    <h1 align="center">Inbox</h1>

    <body>
        <div class="row">
            <div class="col-sm-2">
                <div id="inbox">
                    <ul>
                        <button type="submit" class="btn btn-primary">Compose</button>
                        <br>
                        <br> <!-- Need to add routes for buttons-->
                        
                        <form action = "/refresh" method="POST">
                            <button type="submit" class="btn btn-primary">Refresh</button>
                        </form>

                        <li><a href="/">Inbox</a></li>
                        <li><a href="#">Sent</a></li>
                        <li><a href="#">Trash</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <ul>
                    {% for email in emails %}
                        <li>
                            <a href="/emails/{{ loop.index }}">{{ email.subject }}</a>
                            <p>From: {{ email.from }}</p>
                            <p>{{email.body}}</p>
                        </li>
            {% endfor %}
            </ul>
        </div>
    </div>
            
       
    </body>
    
{% endblock %}