{% extends 'base.html' %}

{% block content %}
    <br />
    <h1>Reset Password</h1>
    <!--Form for resetting the password-->
    <form method="POST">
        <!--Render hidden fields for the form-->
        {{ form.hidden_tag() }}
        <div class="form-group">
            <!--Render the label for the email field-->
            {{ form.email.label }}<br>
            <!--Render the email input field-->
            {{ form.email() }}
            <!--Displays any errors relating to the email field such as an empty field-->
            {% for error in form.email.errors %}
                <span [{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <!-- Render the label for the passworld field-->
            {{ form.password.label }}<br>
            <!--Render the password input field-->
            {{ form.password() }}
            <!--Displays any errors relating to the password field such as an empty field-->
            {% for error in form.password.errors %}
                <span [{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            <!--Render the label for the confirm password field-->
            {{ form.confirm_password.label }}<br>
            <!--Render the confirm password input field-->
            {{ form.confirm_password() }}
            <!--Displays any errors related to the confirm password field such as an empty field-->
            {% for error in form.confirm_password.errors %}
                <span [{{ error }}]</span>
            {% endfor %}
        </div>
        <!--Render the submit button after filling in the required fields for reset password-->
        {{ form.submit() }}
    </form>
{% endblock %}