{% extends 'base.html' %}

{% block content %}
    <br />
    <h1>Reset Password</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}<br>
            {{ form.email() }}
            {% for error in form.email.errors %}
                <span [{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% for error in form.password.errors %}
                <span [{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password() }}
            {% for error in form.confirm_password.errors %}
                <span [{{ error }}]</span>
            {% endfor %}
        </div>
        {{ form.submit() }}
    </form>
{% endblock %}