{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 

{% block content %}
<form method="POST">
    <h3 align="center">Sign Up for Sloth Mail!</h3>

    <!--Form for creating user sign up-->
    <div class="form-group">
        <!--Label for the email field-->
        <label for="email">Email Address</label>
        <!--Email Input Field-->
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
        />
    </div>

    <div class="form-group">
        <!--Label for the username field-->
        <label for="firstName">Username</label>
        <!--Username input field-->
        <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter your username"
        />
    </div>

    <div class="form-group">
        <!--Label for the password field-->
        <label for="password1">Password</label>
        <!--Password Input Field-->
        <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"
        />
    </div>

    <div class="form-group">
        <!--Label for the password confirmation field-->
        <label for="password2">Password (Confirm)</label>
        <!--Password confirmation input field-->
        <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
        />
    </div>

    <!--Button to submit for the sign up form after filling in the required fields-->
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
{% endblock %}
